<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <!--you know nothing, John Snow.-->
    <div>
        click the trigger button to trigger crawl.
        <button id="trigger">
            trigger
        </button>
    </div>
    <div>
        click the clear button to remove selected crawl file.
        <input id="time" type="date" />
        <button id="clear">
            clear
        </button>
    </div>

    <script src="/script/crawl-trigger.js"></script>
</body>

</html>